# Integração Parte 1 - Python para "Criar" Bases de Dados

### Qual arquivo vamos importar?

- Vamos usar o mesmo exemplo que usamos da empresa Contoso no módulo de Análise de Dados

Temos 4 arquivos diferentes:
- Vendas
- Lojas
- Clientes
- Produtos

E vamos integrar eles em 1 arquivo único apenas com as informações relevantes. Depois, vamos importar essa base tratada para o Power BI

In [10]:
import pandas as pd
import os
#importando os arquivos
caminho_padrao = r'C:\Users\marti\OneDrive\Área de Trabalho\Python\Python com Power BI'
vendas_df = pd.read_csv(os.path.join(caminho_padrao, r'Contoso Vendas - 2017.csv'), sep=';', encoding='latin')
produtos_df = pd.read_csv(os.path.join(caminho_padrao, r'Contoso - Cadastro Produtos.csv'), sep=';', encoding='latin')
lojas_df = pd.read_csv(os.path.join(caminho_padrao, r'Contoso - Lojas.csv'), sep=';', encoding='latin')
clientes_df = pd.read_csv(os.path.join(caminho_padrao, r'Contoso - Clientes.csv'), sep=';', encoding='latin')

#limpando apenas as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['Categoria', 'ID Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando os dataframes
#vendas_df = vendas_df.merge(produtos_df, on='Categoria')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail do Cliente'})
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Loja,E-mail do Cliente
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
2,287704,23/04/2017,26/04/2017,3,76,280,1,6825,10,0,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp
3,860046,16/11/2017,16/11/2017,0,191,578,4,6825,13,0,Loja Contoso Annapolis,rbrumfieldmy@ameblo.jp
4,180875,16/03/2017,16/03/2017,0,268,975,6,6825,4,0,Loja Contoso Tokyo No.2,rbrumfieldmy@ameblo.jp
...,...,...,...,...,...,...,...,...,...,...,...,...
980637,917317,08/12/2017,08/12/2017,0,145,1593,4,409,13,0,Loja Contoso Cape May,sverduinbc@amazon.co.jp
980638,920243,09/12/2017,10/12/2017,1,261,1367,5,38781,13,0,Loja Contoso Damascus No.1,ruben31@adventure-works.com
980639,724858,01/10/2017,07/10/2017,6,203,624,10,403,8,0,Loja Contoso Glasgow,gcalwellb6@alexa.com
980640,902753,02/12/2017,02/12/2017,0,203,2517,10,39127,80,0,Loja Contoso Glasgow,scot1@adventure-works.com
980641,906106,03/12/2017,10/12/2017,7,71,1310,4,34,6,0,Loja Contoso Russellville,galexsandrovichx@theatlantic.com